@import "flowbite/src/themes/default";
@import 'custom.css'; 
@import 'search-filters.css';

@tailwind base; 
@tailwind components;
@tailwind utilities;
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
